.counties :hover {
    fill: #829b76;
}

.counties {
    fill: #cfe0c7;
}

.borders {
    fill: none;
    stroke: #fff;
    stroke-width: .5 px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}
